@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #000;
}

.main {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
}

.sidebar {
    width: 24%;
    background: rgb(27, 27, 27);
    color: #fff;
}

.profile {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background: rgb(46, 45, 45);
}

.profile img {
    width: 70px;
    height: 70px;
    border-radius: 30%;
}

.profile-data {
    padding: 10px;
}

.profile-data h3 {
    letter-spacing: 1px;
    font-size: 20px;
}

.profile-data span {
    color: rgb(148, 147, 147);
}

.sidebar .title {
    padding: 10px;
    margin-top: 10px;
    font-size: 22px;
}

.sidebar .title span {
    color: rgb(35, 35, 212);
    font-size: 12px;
    margin-left: 5px;
}

.messages .recents {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
}

.recents img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 5px;
}

.recent-data {
    padding: 10px;
}

.recent-data h3 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
}

.recent-data span {
    color: rgb(148, 147, 147);
    font-size: 13px;
}

.messages .active {
    background: rgb(41, 40, 40);
}

.recents:hover {
    background: rgb(41, 40, 40);
}

.welcome {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
}

.message-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 55%;
    background: rgb(15, 15, 15);
    position: relative;
}

.box-top {
    display: flex;
    padding: 10px 20px;
    background: rgb(22, 22, 22);
}

.box-top .recents {
    display: flex;
}

.message-box .recents:hover {
    background: none;
}

.call-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px;
}

.action-icons {
    margin-top: 10px;
}

.action-icons i {
    margin: 10px;
    color: rgb(99, 98, 98);
    cursor: pointer;
}

.box {
    padding-left: 1rem;
    padding-bottom: 6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.box .recents {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.box .recents:first-child {
    margin-top: auto;
}

.box .recents img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.box h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(211, 206, 206);
}

.box .time {
    background: none;
    color: rgb(99, 98, 98);
    font-size: 12px;
}

.box span {
    background: gray;
    color: #fff;
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 0px 30px 30px 30px;
}

.input-box {
    background: rgb(22, 22, 22);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.input-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 20px;
}

.input-box input {
    background: transparent;
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    width: 65%;
}

.input-box i {
    margin: 30px 10px;
    color: rgb(99, 98, 98);
    font-size: 18px;
    cursor: pointer;
}

.input-box .send {
    color: blue;
}

.contact {
    padding: 20px;
    color: #fff;
    width: 25%;
    background: #000;
}

.contact-detail {
    margin-top: 30px;
    text-align: center;
}

.contact-detail img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.contact-icons {
    color: rgb(99, 98, 98);
    margin-top: 10px;
}

.contact-icons i {
    margin: 10px;
    border: 1px solid rgb(99, 98, 98);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.contact-icons i:hover {
    background: rgb(99, 98, 98);
    color: #fff;
    transition: all 0.3s;
}

.users {
    flex-grow: 1;
    background: #000;
}

.users .recents {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
}